/*Fonts: 
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal; 

    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
    
    Recomendaciones: usar REM Y PORCENTAJES */


/*===GENERALITIES===*/

body {
    margin: 0;
    padding: 0;
    background: #fdb020;
    font-size: 1rem;
}

a{
    text-decoration: none;
    color:#ff3863;
}

/*===HEADER===*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #ff3863;
    background: #fff9aa;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.25rem;
}

#header nav ul {
    list-style-type: none;
}

#header nav ul li {
    display: inline-block;
    margin-right: 5rem;
}

#header nav ul li a {
    color: #fdb020;
    padding: 0.5rem 1rem;
}

#header nav ul li a:hover {
    color: #ff3863;
}

/*===HOME===*/
#home{
    background-color: #fff9aa;
    display: flex;
}

#container-home-left{
    flex: 1;
    border: red 2px solid;
}

#container-home-left img{
    width:  100%;
    border: black 2px solid;
}

#container-home-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: red 2px solid;
}

#container-home-right h1{
    margin: 0;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-size: 4.5rem;
    color:#ff3863;
    border: black 2px solid;

}

#container-home-right p{
    max-width: 400px;
    margin: 0;
    font-size:  1.2rem;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #fdb020;
    border: black 2px solid;

}


/*===ABOUT===*/

/*general*/
#about{
    background-color: #fdb020;
}

#about #container-about{
    display: flex;
}

/*left information*/
#about #container-about #left{
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: red 2px solid;

}

#about #container-about #left h2{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    color: #fff9aa;
    font-size: 3.5rem;
}

#left p{
    font-size: 1.2rem;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #fff9aa;
    display: inline-block;
}

#left p a{
    color: #fff9aa;
    position: relative;
    text-decoration: none;
}

#left p a:hover{
    color:#004EC3;
}
/*right my icon image*/
#right img{
    width: 100%;
}

#right{
    flex: 1.40;
    display: flex;
    flex-direction: column;
    align-items: end;
}


/*===PROJECTS===*/

/*general*/
#projects{
    background-color: #fff9aa;
    display: flex;
}

/*title*/
#container-title{
    flex: 1;
}

#container-title h2{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    color: #004EC3;
    font-size: 3.5rem;
    margin: 1rem;
}

/*images*/
#container-projects-img{
    flex: 0.50;
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}

.image-project{
    width: 100%;
    margin-bottom: 3rem;
}

/*details*/
#container-projects-details{
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 1rem;
    margin-top: 7rem;
}
.project-title{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    color:#ff3863;
    padding-left: 1rem;
}

.project-title a:hover{
    color:#004EC3;
}

.project-description{
    max-width: 100%; 
    margin: 0;
    font-size: 1.2rem;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #004ec3;
}

.project-details{
    margin-bottom: 3rem;
    border-left: #ff3863 solid 2px;
}


/*===CONTACT===*/

#contact h2 {
    text-align: center;
    color: #fff9aa; 
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
}

#container-form {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

form {
    max-width: 55rem;
    width: 100%; 
    background-color: transparent;
    padding: 2rem; /* Espacio interno alrededor del formulario */
    box-sizing: border-box;
}

#form-personal-information {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.form-group {
    flex: 1;
    margin-bottom: 1rem;
}

.form-group label{
    color: #fff9aa;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.2rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    background-color: #fff9aa;
    border-radius: 6px;
    border: 0;
    font-size: 1rem;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    box-sizing: border-box;
}

.form-group textarea {
    height: 10rem;
    resize: none;
}

form input[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    background-color: #004EC3; 
    color: #fff9aa;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s;
    font-size: 1.2rem;
}

form input[type="submit"]:hover {
    background-color: #02337e;
}



/*===FOOTER===*/


footer {
    background-color: #fff9aa;
    color: #ff3863;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.2rem;
}

footer a {
    color: #ff3863;
    text-decoration: none;
    
}

footer a:hover {
    color:#004EC3
}
